.test
  border 3.75px solid #fff
  border-top 3.75px solid #fff
  border-right 3.75px solid #fff
  border-bottom 3.75px solid #fff
  border-left 3.75px solid #fff
  border-radius 3.75px
  border-radius 50%
  border-top-left-radius 3.75px
  border-top-right-radius 3.75px
  border-bottom-left-radius 3.75px
  border-bottom-right-radius 3.75px
  border-width 3.75px
  border-top-width 3.75px
  border-right-width 3.75px
  border-bottom-width 3.75px
  border-left-width 3.75px