.test {
  padding: 10% 0;
  padding: 0.1rem;
  padding: 0.15rem 0.15rem;
  padding: 0.15rem 0.15rem 0.15rem 0.15rem;
  padding-top: 0.1rem;
  padding-right: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.1rem;
}
