border()
  convert-px-to-unit('border', arguments)
border-top()
  convert-px-to-unit('border-top', arguments)
border-right()
  convert-px-to-unit('border-right', arguments)
border-bottom()
  convert-px-to-unit('border-bottom', arguments)
border-left()
  convert-px-to-unit('border-left', arguments)
border-radius()
  convert-px-to-unit('border-radius', arguments)
border-top-left-radius()
  convert-px-to-unit('border-top-left-radius', arguments)
border-top-right-radius()
  convert-px-to-unit('border-top-right-radius', arguments)
border-bottom-left-radius()
  convert-px-to-unit('border-bottom-left-radius', arguments)
border-bottom-right-radius()
  convert-px-to-unit('border-bottom-right-radius', arguments)
border-width()
  convert-px-to-unit('border-width', arguments)
border-top-width()
  convert-px-to-unit('border-top-width', arguments)
border-right-width()
  convert-px-to-unit('border-right-width', arguments)
border-bottom-width()
  convert-px-to-unit('border-bottom-width', arguments)
border-left-width()
  convert-px-to-unit('border-left-width', arguments)