px2vw(val)
  unit(val / viewport-width * 100, vw)

px2rem(val)
  unit(val / html-font-size, rem)

px-to-unit(target-unit, val)
  result = val
  if typeof(val) == 'unit' and match('px$', '' + val) and val != 0
    if abs(val) > ignore-threshold
      if target-unit == 'rem'
        result = px2rem(val)
      else
        result = px2vw(val)
  else if typeof(val) == 'string' and match('px$', val)
    result = unquote(val)
  return result

px-need-convert(val)
  result = false
  if typeof(val) == 'unit' and match('px$', '' + val) and val != 0 and abs(val) > ignore-threshold
    result = true
  return result

unit-need-convert(args)
  result = false
  if list-separator(args) == ','
    for item in args
      for arg in item
        if px-need-convert(arg)
          result = true
  else
    for arg in args
      if px-need-convert(arg)
        result = true
  return result

convert-args(target-unit, args)
  output-args = null
  if list-separator(args) == ','
    items = ()
    for item in args
      tmp = ()
      for arg in item
        push(tmp, px-to-unit(target-unit, arg))
      push(items, join(' ', tmp))
    output-args = unquote(join(', ', items))
  else
    output-args = ()
    for arg in args
      push(output-args, px-to-unit(target-unit, arg))
  return output-args

convert-px-to-unit(prop, args)
  if need-convert
    if (target-unit == 'vw&rem')
      vw-output = convert-args('vw', args)
      if unit-need-convert(args)
        rem-output = convert-args('rem', args)
        {prop} rem-output
        {prop} vw-output
      else
        {prop} vw-output
    else
      output-args = convert-args(target-unit, args)
      {prop} output-args
  else
    {prop} args
